@import './colors';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
    background-color: $app-background-color;
    background-image: $app-background-gradient;
	color: $white;
	font-family: 'Genos', sans-serif;
	font-size: 36px;
}
.game-window {
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
}
.game-name {
    margin: 100px 0 40px;
}
.game-area {
	display: grid;
	padding: 10px;
	overflow: hidden;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
	height: 600px;
	width: 600px;
	background-color: $white;
	border-radius: 30px;
}
.box {
	background-color: $app-background-color;
	border: 26px transparent;
	border-radius: 26px;
    cursor: pointer;
}
.round, .cross {
    cursor: default;
}
.round {
	background-color: transparent;
	border-radius: 50%;
	border: 50px solid $app-background-color;;
}
.cross {
	background-color: $app-background-color;;
	clip-path: polygon(
		20% 0%,
		0% 20%,
		30% 50%,
		0% 80%,
		20% 100%,
		50% 70%,
		80% 100%,
		100% 80%,
		70% 50%,
		100% 20%,
		80% 0%,
		50% 30%
	);
}
.game-info {
    font-size: 48px;
	margin: 20px 0;
}
.game-restart {
    border-radius: 25px;
    height: 50px;
    width: 150px;
    font-family: 'Genos', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: $app-background-color;
    font-weight: bold;
    cursor: pointer;
}