@import './colors';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	width: 100%;
	background-color: $app-background-color;
	background-image: $app-background-gradient;
	color: $white;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 20px 0px;
	&-menu {
		position: relative;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	&-name {
		position: relative;
		font-size: 30px;
		&::before {
			content: 'by Bartosz Bobrecki';
			position: absolute;
			text-align: center;
			left: 50%;
			transform: translateX(-50%);
			font-size: 10px;
			top: 40px;
			font-weight: normal;
		}
	}
	&-info {
		position: absolute;
		top: 365px;
		font-size: 22px;
	}
	&-restart {
		position: absolute;
		top: 420px;
		border-radius: 15px;
		height: 30px;
		width: 90px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		color: rgb(42, 42, 42);
		font-weight: 600;
		cursor: pointer;
	}
}

.game-area {
	display: grid;
	padding: 10px;
	overflow: hidden;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
}
.box {
	height: 1.9em;
	width: 1.9em;
	opacity: 20%;
	background-color: $white;
	border: 26px transparent;
	border-radius: 10px;
	cursor: pointer;
	transition: opacity .3s;
}
.circle,
.cross {
	opacity: 100%;
	cursor: default;
}
.circle {
	background-color: transparent;
	border-radius: 50%;
	border: 20px solid $white;
}
.cross {
	background-color: $white;
	clip-path: polygon(
		20% 0%,
		0% 20%,
		30% 50%,
		0% 80%,
		20% 100%,
		50% 70%,
		80% 100%,
		100% 80%,
		70% 50%,
		100% 20%,
		80% 0%,
		50% 30%
		);
	}
	@import './desktop';